Repository DemonDaddy22/Front-End-Game, pull requests merged in 2022-01, with the labels that each got.

#4 Sudoku implemented in ReactJS
  public/manifest.json
  src/App.tsx
  src/Sudoku/DemonDaddy22/README.md
  src/Sudoku/DemonDaddy22/ReactJS/components/Cell/index.tsx
  src/Sudoku/DemonDaddy22/ReactJS/components/Cell/styles.module.scss
  src/Sudoku/DemonDaddy22/ReactJS/index.tsx
  src/Sudoku/DemonDaddy22/ReactJS/styles.module.scss
  src/Sudoku/DemonDaddy22/sudoku.csv
  src/Sudoku/DemonDaddy22/sudoku.json
  src/hooks/useAsyncExec.ts
  src/types/sudoku.d.ts
  src/utils/index.ts
Labels: implementation, size/XXL, react

#7 Star Ratings implementation in VanillaJS
  README.md
  src/StarRatings/DemonDaddy22/README.md
  src/StarRatings/DemonDaddy22/VanillaJS/index.html
  src/StarRatings/DemonDaddy22/VanillaJS/index.js
  src/StarRatings/DemonDaddy22/VanillaJS/styles.css
Labels: size/L, implementation, vanillaJS

#14 Singlarobin/star rating
  .gitignore
  src/StarRatings/singlarobin/README.md
  src/StarRatings/singlarobin/VanillaJS/index.html
  src/StarRatings/singlarobin/VanillaJS/index.js
  src/StarRatings/singlarobin/VanillaJS/styles.css
Labels: size/L, implementation, vanillaJS

#9 Sudoku/singlarobin/react
  src/Sudoku/singlarobin/react/component/Input/index.jsx
  src/sudoku/singlarobin/README.md
  src/sudoku/singlarobin/react/component/Feature/index.jsx
  src/sudoku/singlarobin/react/component/Feature/styles.module.css
  src/sudoku/singlarobin/react/component/Generate/index.jsx
  src/sudoku/singlarobin/react/component/Generate/styles.module.css
  src/sudoku/singlarobin/react/component/Header/index.jsx
  src/sudoku/singlarobin/react/component/Header/styles.module.css
  src/sudoku/singlarobin/react/component/Input/styles.module.css
  src/sudoku/singlarobin/react/component/Loader/index.jsx
  src/sudoku/singlarobin/react/component/Loader/styles.module.css
  src/sudoku/singlarobin/react/component/Page/index.jsx
  src/sudoku/singlarobin/react/component/Page/styles.module.css
  src/sudoku/singlarobin/react/component/PlayArea/index.jsx
  src/sudoku/singlarobin/react/component/PlayArea/styles.module.css
  src/sudoku/singlarobin/react/component/RadioButton/index.jsx
  src/sudoku/singlarobin/react/component/RadioButton/styles.module.css
  src/sudoku/singlarobin/react/constants/index.js
Labels: implementation, react, size/XL

#12 Implemented Pixel Art exercise
  README.md
  src/PixelArt/README.md
  src/PixelArt/VanillaJS/index.html
  src/PixelArt/VanillaJS/index.js
  src/PixelArt/VanillaJS/styles.css
Labels: size/L, implementation, vanillaJS

#19 Singlarobin/pixel art
  src/PixelArt/DemonDaddy22/README.md
  src/PixelArt/DemonDaddy22/VanillaJS/index.html
  src/PixelArt/DemonDaddy22/VanillaJS/index.js
  src/PixelArt/DemonDaddy22/VanillaJS/styles.css
  src/PixelArt/Singlarobin/README.md
  src/PixelArt/Singlarobin/VanillaJS/index.html
  src/PixelArt/Singlarobin/VanillaJS/index.js
  src/PixelArt/Singlarobin/VanillaJS/styles.css
  src/Sudoku/singlarobin/ReactJS/component/Feature/index.jsx
  src/Sudoku/singlarobin/ReactJS/component/Feature/styles.module.css
  src/Sudoku/singlarobin/ReactJS/component/Generate/index.jsx
  src/Sudoku/singlarobin/ReactJS/component/Generate/styles.module.css
  src/Sudoku/singlarobin/ReactJS/component/Header/index.jsx
  src/Sudoku/singlarobin/ReactJS/component/Header/styles.module.css
  src/Sudoku/singlarobin/ReactJS/component/Input/index.jsx
  src/Sudoku/singlarobin/ReactJS/component/Input/styles.module.css
  src/Sudoku/singlarobin/ReactJS/component/Loader/index.jsx
  src/Sudoku/singlarobin/ReactJS/component/Loader/styles.module.css
  src/Sudoku/singlarobin/ReactJS/component/Page/index.jsx
  src/Sudoku/singlarobin/ReactJS/component/Page/styles.module.css
  src/Sudoku/singlarobin/ReactJS/component/PlayArea/index.jsx
  src/Sudoku/singlarobin/ReactJS/component/PlayArea/styles.module.css
  src/Sudoku/singlarobin/ReactJS/component/RadioButton/index.jsx
  src/Sudoku/singlarobin/ReactJS/component/RadioButton/styles.module.css
  src/Sudoku/singlarobin/ReactJS/constants/index.js
Labels: size/L, implementation, vanillaJS

#16 Implemented Chess Board exercise
  README.md
  src/ChessBoard/DemonDaddy22/README.md
  src/ChessBoard/DemonDaddy22/VanillaJS/index.html
  src/ChessBoard/DemonDaddy22/VanillaJS/index.js
  src/ChessBoard/DemonDaddy22/VanillaJS/styles.css
Labels: size/L, implementation, vanillaJS

#22 Singlarobin/chess board
  src/ChessBoard/SinglaRobin/README.md
  src/ChessBoard/SinglaRobin/VanillaJS/index.html
  src/ChessBoard/SinglaRobin/VanillaJS/index.js
  src/ChessBoard/SinglaRobin/VanillaJS/styles.css
Labels: size/L, implementation, vanillaJS

#24 Implemented Color Spotter in VanillaJS
  README.md
  src/ColorSpotter/DemonDaddy22/README.md
  src/ColorSpotter/DemonDaddy22/VanillaJS/index.html
  src/ColorSpotter/DemonDaddy22/VanillaJS/index.js
  src/ColorSpotter/DemonDaddy22/VanillaJS/styles.css
Labels: size/L, implementation, vanillaJS

#26 Singlarobin/color spotter
  src/ColorSpotter/SinglaRobin/README.md
  src/ColorSpotter/SinglaRobin/VanillaJS/index.html
  src/ColorSpotter/SinglaRobin/VanillaJS/index.js
  src/ColorSpotter/SinglaRobin/VanillaJS/styles.css
Labels: size/L, implementation, vanillaJS

#31 Implementation of Progress Bar
  README.md
  package-lock.json
  src/ProgressBar/DemonDaddy22/README.md
  src/ProgressBar/DemonDaddy22/VanillaJS/index.html
  src/ProgressBar/DemonDaddy22/VanillaJS/index.js
  src/ProgressBar/DemonDaddy22/VanillaJS/styles.css
  src/Sudoku/DemonDaddy22/ReactJS/index.tsx
Labels: size/L, implementation, vanillaJS

#28 Singlarobin/progress bar
  src/ProgressBar/SinglaRobin/README.md
  src/ProgressBar/SinglaRobin/VanillaJS/index.html
  src/ProgressBar/SinglaRobin/VanillaJS/index.js
  src/ProgressBar/SinglaRobin/VanillaJS/styles.css
Labels: size/L, implementation, vanillaJS
